<%- include('partials/header') -%>

<div class="p-3 h-full border-2 border-red-400 flex flex-col">
  <div class="navbar bg-base-300 rounded-t-md">
    <a class="btn btn-ghost normal-case text-4xl" href="/profile">Inventory Management App</a>

    <div class="gap-x-6">

      <h2 class="text-4xl font-semibold"> <%= user.userName %></h2>
      <div class="avatar placeholder dropdown dropdown-end">
        <label tabindex="0" class="btn m-1 bg-neutral-focus text-neutral-content rounded-full h-24 w-24 text-4xl">
          <%= user.userName[0] %>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li class="text-center text-xl font-medium"><a href="/logout">Logout</a></li>
          <li class="text-xl font-medium"><a>Settings</a></li>
        </ul>
      </div> 

    </div>

  </div>

  <div class="mainContainer border-2 h-full border-green-400 flex">
    <div class="leftSide">
        <aside>
            <ul class="pt-20 text-center text-2xl flex flex-col gap-y-20">
                <li>
                  <button class="text-2xl btn btn-lg btn-wide btn-primary w-10/12">
                    <a class="hover:text-white" href=""><i class="fa-solid fa-cube"></i> Dashboard</a>
                  </button>
                </li>
                <li>
                  <button class="text-2xl btn btn-lg btn-wide btn-primary w-10/12">
                    <a class="hover:text-white" href=""><i class="fa-regular fa-clipboard"></i> Inventory</a>
                  </button>
                </li>
                <li>
                  <button class="text-2xl btn btn-lg btn-wide btn-primary w-10/12">
                    <a class="hover:text-white" href=""><i class="fa-solid fa-chart-line"></i> Sales</a>
                  </button>
                </li>
                <li>
                  <button class="text-2xl btn btn-lg btn-wide btn-primary w-10/12">
                    <a class="hover:text-white" href=""><i class="fa-solid fa-gear"></i> Settings</a>
                  </button>
                </li>
            </ul>
        </aside>
    </div>

    <div class="rightSide flex flex-col justify-around py-10 px-4 border-2 border-red-300">
        
          <div class="stats shadow drop-shadow-sm h-40 border-2 border-black">
    
            <div class="stat">
              <div class="stat-figure text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
              </div>
              <div class="stat-title ">Total Likes</div>
              <div class="stat-value text-primary">25.6K</div>
              <div class="stat-desc">21% more than last month</div>
            </div>
            
            <div class="stat">
              <div class="stat-figure text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
              </div>
              <div class="stat-title">Page Views</div>
              <div class="stat-value text-secondary">2.6M</div>
              <div class="stat-desc">21% more than last month</div>
            </div>
            
            <div class="stat">
              <div class="stat-figure text-secondary">
                <div class="avatar online">
                  <div class="w-16 rounded-full">
                    <img src="https://placeimg.com/128/128/people" />
                  </div>
                </div>
              </div>
              <div class="stat-value">86%</div>
              <div class="stat-title">Tasks done</div>
              <div class="stat-desc text-secondary">31 tasks remaining</div>
            </div>
            
          </div>

          <section class="graph flex justify-between gap-x-12 p-8 h-2/4 border-2 border-black">
            <div class="w-3/4 border-2 border-black">
              <canvas id="myChart" class=" border-2 border-red-300"></canvas>
            </div>

            <div class="card border-2 border-black w-1/4">
              <span class="block text-center text-5xl font-semibold">Add Item</span>
              <div class="border-2 border-cyan-300 h-full">
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                  <div class="mb-3">
                    <label for="title" class="form-label">Name of the Item</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="title" class="form-label">Cost of Item</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <button class="btn btn-outline btn-success">Success</button>
                </form>
              </div>
            </div>
          </section>
            
        
          <div class="border-2 border-black h-1/6">
            <table class="table table-zebra w-full">
              <!-- head -->
              <thead>
                <tr>
                  <th class="text-2xl font-bold">Item Id</th>
                  <th class="text-2xl font-bold">Date</th>
                  <th class="text-2xl font-bold">Name</th>
                  <th class="text-2xl font-bold">Cost</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr class="text-2xl">
                  <th>#1</th>
                  <td>Cy Ganderton</td>
                  <td> <%= posts[0].nameOfItem %> </td>
                  <td>Blue</td>
                </tr>
                
              </tbody>
            </table>
          </div>

    </div>    

  </div>

 <!-- <div class="container this-container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i < posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div> -->

</div> 



<script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>




<%- include('partials/footer') -%>


